.middle {
    display: flex;
    height: 100vh;
}

.inside {
    margin: 30px auto;
    vertical-align: top;
}

.space {
    height: 15px;
}

.sign-out {
    font-size: 1em;
    color: black;
}

.head-right {
    text-align: right;
}

.before-input {
    border: none;
    border-color: transparent;
}

.during-input {
    border: none;
    border-bottom: 2px solid black;
}

#setPassword {
    width: 15vw;
    text-align: right;
}

#setPassword::placeholder{
    color: black;
}